# HOSTING
IP=8080
PORT=0.0.0.0

# DATABASE
DATABASE_URL=postgresql://localhost:5432/db

# AUTHENTICATION
AES_KEY=12345678901234567890123456789012
KEY=SOME_KEY

# REDIS URL
REDIS_URL=redis://127.0.0.1:6379

# FOR GMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your_app_password
FROM_NAME=Your App Name
FROM_EMAIL=your@gmail.com

# CUSTOM DOMAIN (FOR BUSINESS EMAIL)
# SMTP_HOST=mail.yourdomain.com
# SMTP_PORT=587
# SMTP_USER=support@yourdomain.com
# SMTP_PASS=your_email_password
# FROM_NAME=Your Company
# FROM_EMAIL=support@yourdomain.com
